<nav class="main-nav">
    <ul>
        <li><a th:href="@{/}">🏠 Home</a></li>

        <li class="dropdown">
            <a href="#">📝 Practice ▾</a>
            <ul class="dropdown-menu">
                <li><a th:href="@{/topic/basic_programming_constructs}">Basic Programming Constructs</a></li>
                <li><a th:href="@{/topic/inheritance}">Loops</a></li>
                <li><a th:href="@{/topic/input_output}">Arrays</a></li>
                <li><a th:href="@{/topic/functions}">Functions</a></li>
                <li><a th:href="@{/topic/2d_arrays}">2D Arrays</a></li>
                <li><a th:href="@{/topic/1d_arrays}">Single Dimension arrays</a></li>
                <li><a th:href="@{/topic/applets}">Applets</a></li>
                <li><a th:href="@{/topic/awt}">Graphical User Interface(AWT)</a></li>
                <li><a th:href="@{/topic/data_conversion}">Data Conversion</a></li>
                <li><a th:href="@{/topic/delegate_event_model}">Delegate Event Model</a></li>
                <li><a th:href="@{/topic/exception_handling}">Exception Handling</a></li>
                <li><a th:href="@{/topic/inheritance}">Inheritance</a></li>
                <li><a th:href="@{/topic/java_database_connectivity}">Java Database Connectivity</a></li>
                <li><a th:href="@{/topic/multithreading}">Multithreading</a></li>
                <li><a th:href="@{/topic/object_oriented_programming}">Object Oriented Programming</a></li>
                <li><a th:href="@{/topic/packages}">Packages</a></li>
                <li><a th:href="@{/topic/strings}">Strings</a></li>

            </ul>
        </li>

        <li><a th:href="@{/about}">ℹ️ About</a></li>
    </ul>
</nav>
